@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@{
    var user = User;
    var isAuthenticated = user.Identity.IsAuthenticated;
    var role = user.IsInRole("Admin");
    
}
@if (role && isAuthenticated)
{
    <div>Admin Dashboard</div>
    <div>All users count : @TempData["user_count"]</div>
    <div>Active users : @TempData["Active_Users"]</div>
    <div>Not Active count : @TempData["InActive_Users"]</div>

}
else
{
    <div>Not Accessible! or this page do not exist!</div>
}